@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 7.1% 96.1%; /* Light Cyan Background */
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 195 89.5% 70.2%; /* Sky Blue Primary */
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 333 31% 78%; /* Mauve Accent */
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 90%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 333 31% 78%; /* Mauve Accent */
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 90%;
    --input: 215 27.9% 90%;
    --ring: 195 89.5% 70.2%; /* Sky Blue Ring */
    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 195 89.5% 70.2%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 215 27.9% 94%;
    --sidebar-accent-foreground: 220.9 39.3% 11%;
    --sidebar-border: 215 27.9% 90%;
    --sidebar-ring: 195 89.5% 70.2%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 20% 98%;
    --card: 220 15% 22%;
    --card-foreground: 210 20% 98%;
    --popover: 220 15% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 195 89.5% 70.2%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 333 31% 78%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 15% 25%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 333 31% 78%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 15% 25%;
    --input: 215 15% 25%;
    --ring: 195 89.5% 70.2%;

    --sidebar-background: 220 15% 22%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 195 89.5% 70.2%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 215 20% 30%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 15% 25%;
    --sidebar-ring: 195 89.5% 70.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
    --webkit-tap-highlight-color: transparent;
}